<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyDHcW6HZ2dxbFnjE485KSlEvkXkaic13N0</string>
	<key>GCM_SENDER_ID</key>
	<string>613022982323</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.reactnativefirebase</string>
	<key>PROJECT_ID</key>
	<string>project-3ca92</string>
	<key>STORAGE_BUCKET</key>
	<string>project-3ca92.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:613022982323:ios:137a89f998562d358250c6</string>
</dict>
</plist>